/* Base styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b2d8d8;
}

header {
    background-color: #006666;
    color: #ecf0f1;
    padding: 1.5rem;
    text-align: center;
    border-bottom-left-radius: 14%;
    border-bottom-right-radius: 14%;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.api-section {
    margin-bottom: 2rem;
}

.api-url {
    background-color: #b2d8d8;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
}

.api-url p {
    margin: 0;
    font-size: 1.2rem;
}

.api-url a {
    color: #b2d8d8;
    text-decoration: none;
}

.api-url a:hover {
    text-decoration: underline;
}

/* Search Form */
.search-form {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search-form input[type="text"] {
    padding: 0.75rem;
    font-size: 1rem;
    width: 300px;
    border: 1px solid #008080;
    background-color: #008080;
    color: white;

    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-form button {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #008080;
    background-color: #008080;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.search-form button:hover {
    background-color: #008080;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Product List */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.product-item {
    flex: 1 1 20%; /* Basis set to 22% to accommodate margins/padding */
    margin: 1rem;  /* Adjust margin as needed */
    box-sizing: border-box;
}
.api-price {
    background-color: #008080;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
}
.product-item {
    background: #006666;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 200px;    /* Set desired width */
    height: 200px;   /* Set desired height */
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    border-radius: 25%;
    display: block;  /* Ensures margin auto works correctly */
    margin: 0 auto; /* Horizontally centers the image */
}

.product-info {
    padding: 0.5rem 0;
    
}

.product-info h3 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
    color: #b2d8d8;
}

.product-info p {
    margin: 0.2rem 0;
    color: #e6e6e6;
}
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
#logo-grid {
    align-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    max-width: 750px;
  }
  .partner-logo {
    box-sizing: border-box;
  }
  .partner-logo img {
    display: block;
    max-width: 187px;
    width: 100%;
  }
  .partner-logo img:hover {
    background-color: #eeeeee;
  }
  .col-2 img {
    max-width: 375px;
  }
/* Responsive styles */
@media only screen and (max-width: 768px) {
    .search-form {
        flex-direction: column;
        align-items: center;
    }

    .search-form input[type="text"], .search-form button {
        width: 100%;
        margin: 0.5rem 0;
        border-radius: 5px;
    }

    .product-item {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }
}

@media only screen and (max-width: 480px) {
    .product-item {
        flex: 1 1 calc(100% - 2rem);
        max-width: calc(100% - 2rem);
    }
}
.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto; /* Center the image */
  }